<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="accent-color">Pedidos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="order">

    <!-- <img src="../../assets/imgs/developer.png">
    <ion-fab right top>
      <button ion-fab>
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-fab> -->
    <ion-card-header>
      Artículos del pedido
    </ion-card-header>

    <div *ngFor="let item of order.list">
      <ion-item class="item" (click)="test()">
        <ion-icon name="{{item.category}}" item-start large ></ion-icon>
        <h2>{{item.name}}</h2>
        <p>Cantidad: {{item.quantity}} Tamaño: {{item.size}}</p>
      </ion-item>
      <ion-item>
        <ion-label>Cantidad:</ion-label>
        <ion-input type="number" placeholder="{{item.quantity}}" [(ngModel)]="item.quantity"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" placeholder="Ingrese el precio" [(ngModel)]="item.price"></ion-input>
      </ion-item>
    </div>

    <ion-row>
      <ion-col center text-center align-self-center>
        <span item-start>{{distance | number: '1.2-2'}} km </span>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="close-circle"></ion-icon>
          <div>Rechazar</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <button ion-button icon-start clear small (click)="sendOrder()">
          <ion-icon name="send"></ion-icon>
          <div>Aceptar</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
